<!doctype html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sample Listing</title>
</head>
<body>
    <h1>Listing Sample Domain</h1>
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Options</th>
        </tr>
        <tr th:each="sampleDomain: ${sampleDomainList}">
            <td th:text="${sampleDomain.id}"></td>
            <td th:text="${sampleDomain.attributeName}"></td>
            <td>
            	<a th:href="@{/sample/update/{id}(id=${sampleDomain.id})}">UPDATE</a>
            	<a th:href="@{/sample/delete/{id}(id=${sampleDomain.id})}">DELETE</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/sample/create}">CREATE NEW SAMPLE</a>    
</body>
</html>